<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>EditForm</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
  </head>
  <body>
    <div class="container">
    <form  action="/Edit/<%= data.id %>" method="post">
        <div class="mb-3">
          <label for="Name" class="form-label">Name</label>
          <input type="text" class="form-control" id="Name" aria-describedby="emailHelp" name="name" value="<%= data.Name %>">

        </div>
        <div class="mb-3">
          <label for="Rollno" class="form-label">Rollno</label>
          <input type="text" class="form-control" id="Rollno" name="rollno" value="<%= data.Rollno %>">
        </div>
        <div class="mb-3">
            <label for="Percentage" class="form-label">Percentage</label>
            <input type="text" class="form-control" id="Percentage" name="percentage" value="<%= data.Percentage %>">
          </div>
        <button type="submit" class="btn btn-primary">Edit</button>
      </form>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js" integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN" crossorigin="anonymous"></script>
  </body>
</html>